@import "picocss/pico";
@import "pygments-base16-monokai-dark";

.has-shadow {
    box-shadow: var(--card-box-shadow);
}

.is-centered {
    text-align: center;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}

.h-400 {
    height: 400px;
}

.home-hero {
    header {
        height: 400px;
    }
    img {
        @extend .has-shadow;
    }
}
