// Default: Dark theme
@mixin dark {
  // Document
  color-scheme: dark;
  --background-color: #{mix($black, $grey-900, 37.5%)};

  // Texts colors
  --color: #{$grey-200};
  --h1-color: #{$grey-50};
  --h2-color: #{mix($grey-100, $grey-50)};
  --h3-color: #{$grey-100};
  --h4-color: #{mix($grey-200, $grey-100)};
  --h5-color: #{$grey-200};
  --h6-color: #{mix($grey-300, $grey-200)};

  // Muted colors
  --muted-color: #{$grey-500};
  --muted-border-color: #{mix($grey-900, $grey-800, 75%)};

  // Primary colors
  --primary: #{$primary-600};
  --primary-hover: #{$primary-500};
  --primary-focus: #{rgba($primary-600, 0.25)};
  --primary-inverse: #{$white};

  // Secondary colors
  --secondary: #{$grey-600};
  --secondary-hover: #{$grey-500};
  --secondary-focus: #{rgba($grey-500, 0.25)};
  --secondary-inverse: #{$white};

  // Contrast colors
  --contrast: #{$grey-50};
  --contrast-hover: #{$white};
  --contrast-focus: #{rgba($grey-500, 0.25)};
  --contrast-inverse: #{$black};

  // Highlighted text (<mark>)
  --mark-background-color: #{mix($grey-300, $amber-300)};
  --mark-color: #{mix($black, $grey-900, 37.5%)};

  // Inserted (<ins>) & Deleted (<ins>)
  --ins-color: #{$green-700};
  --del-color: #{$red-800};

  // Blockquote
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Form elements
  --form-element-background-color: #{mix($black, $grey-900, 37.5%)};
  --form-element-border-color: #{mix($grey-800, $grey-700)};
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #{$grey-800};
  --form-element-disabled-border-color: #{$grey-700};
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: #{$red-900};
  --form-element-invalid-active-border-color: #{$red-800};
  --form-element-invalid-focus-color: #{rgba($red-800, 0.25)};
  --form-element-valid-border-color: #{$green-800};
  --form-element-valid-active-border-color: #{$green-700};
  --form-element-valid-focus-color: #{rgba($green-700, 0.25)};

  // Switch (input[type="checkbox"][role="switch"])
  --switch-background-color: #{mix($grey-800, $grey-700)};
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  // Range (input[type="range"])
  --range-border-color: #{mix($grey-900, $grey-800)};
  --range-active-border-color: #{$grey-800};
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);

  // Table
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #{rgba($grey-500, 0.05)};

  // Code
  --code-background-color: #{mix($black, $grey-900, 12.5%)};
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #{hsl(330, 30%, 50%)};
  --code-property-color: #{hsl(185, 30%, 50%)};
  --code-value-color: #{hsl(40, 10%, 50%)};
  --code-comment-color: #{mix($grey-700, $grey-600)};

  // Accordion (<details>)
  --accordion-border-color: var(--muted-border-color);
  --accordion-active-summary-color: var(--primary);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  // Card (<article>)
  --card-background-color: #{mix($black, $grey-900, 25%)};
  --card-border-color: #{mix($black, $grey-900, 37.5%)};
  --card-box-shadow: 0 0.125rem 1rem #{rgba($black, 0.06)},
    0 0.125rem 2rem #{rgba($black, 0.12)},
    0 0 0 0.0625rem #{rgba($black, 0.036)};
  --card-sectionning-background-color: #{mix($black, $grey-900, 12.5%)};

  // Dropdown (<details role="list">)
  --dropdown-background-color: #{$grey-900};
  --dropdown-border-color: #{mix($grey-900, $grey-800)};
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #{rgba(mix($grey-900, $grey-800), 0.75)};

  // Modal (<dialog>)
  --modal-overlay-background-color: #{rgba(mix($grey-900, $grey-800), 0.9)};

  // Progress
  --progress-background-color: #{mix($grey-900, $grey-800)};
  --progress-color: var(--primary);

  // Loading ([aria-busy=true])
  --loading-spinner-opacity: 0.5;

  // Tooltip ([data-tooltip])
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);
}
